ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

:root {
  --first-logo-color: #000000;
  --second-logo-color: #ffffff;
  --third-logo-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --btn-text-color: #212121;
  --second-btn-text-color: #ffffff;
  --btn-bg-color: #f5f4fa;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

/*------------------ HEADER ---------------------*/

.header {
  border-bottom: #ececec 1px solid;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-logo-color);
  margin-right: 93px;
}
.logo-item {
  color: var(--third-logo-color);
}
.header-wrap {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}

.header-contact-list {
  display: flex;
}
.header-contact-item {
  margin-left: 50px;
}

.header-contact-item:first-child {
  margin-left: 0;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/*-------------- HERO --------------------*/

.hero {
  background: #2f303a;
  padding: 200px 0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  display: block;
  letter-spacing: 0.06em;
  color: var(--second-btn-text-color);
  background: #2196f3;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
  padding: 0;
  border: none;
  border-radius: 4px;
}

/*--------- PECULIARITIES -----------------*/

.peculiarities-list {
  display: flex;
}

.peculiarities-item {
  margin-right: 30px;
}

.peculiarities-item:last-child {
  margin-right: 0;
}

.peculiarities-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.peculiarities-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  width: 270px;
  height: 75px;
  margin-top: 10px;
}

/*--------------OURWORKS---------------*/

.ourworks {
  padding-top: 0;
}

.ourworks-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

/*------------- OURTEAM ---------------*/

.ourteam {
  background-color: #f5f4fa;
}

.ourteam-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.ourteam-item {
  background-color: #ffffff;
  height: 368px;
}

.ourteam-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.ourteam-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*------------------ FOOTER ----------------*/

footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-logo {
  color: var(--second-logo-color);
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-address {
  color: #ffffff;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
}

/*-------------- PORTFOLIO -----------*/

/* ----------------- FILTER ----------*/

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  background: var(--btn-bg-color);
  margin-right: 8px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--accent-color);
  color: var(--second-btn-text-color);
  outline: none;
}

/* ----------------WORKLIST----------------*/

.worklist {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.worklist-item {
  margin-top: 30px;
}
.worklist-img {
  display: block;
}

.worklist-container {
  padding: 20px 24px;
  border: #eeeeee 1px solid;
}
.worklist-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.worklist-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
